.wrapper {
    padding-right: 17px;

    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .icon-avatar {
        color: #05265f;
        font-size: 28px;
        margin-right: 6px;
    }

    .dropdown-name {
        font-size: 14px;
        font-weight: 500;
        font-family: "Poppins", sans-serif;
        color: #05265f;
        cursor: pointer;
    }

    .icon-down {
        color: #05265f;
        font-size: 12px;
        margin-left: -5px;
    }
}
