.wrapper {
    strong {
        padding: 14px;
        margin: 0;
        color: #a6a6a6;
        font-size: 12px;
    }

    .contact {
        padding: 6px 14px;
        margin: 0;
        font-size: 12px;
    }
    .contact a {
        color: #0d5dc5;
        text-decoration: none;
        font-weight: 700;
    }
}
