<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quantion</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class = "header">
        <img src="/image/Picture1.jpg" alt="Logo">
        <div>
            <h1>CÔNG TY TNHH VIỄN THÔNG - CÔNG NGHỆ GIANG ANH</h1>
            <p>CAMERA - HỆ THỐNG MẠNG - TỔNG ĐÀI - ÂM THANH - KHÓA KHÁCH SẠN</p>
            <p>VP Hà Nội: BQL Khu đô thị Geleximco - Khu D - P Dương Nội - Q.Hà Đông - Hà Nội</p>
            <p>VP Hà Nam: Số 65 - Lý Thái Tổ - P Lê Hồng Phong - TP. Phủ Lý - Hà Nam</p>
            <p>Điện thoại: 0369.119.119 - 02266.292.292 - Website: www.gianganh.vn - Email: info@gianganhcamera.com</p>
        </div>
        <img src="/image/Picture2.jpg" alt="QR">
    </div>
</body>
</html>